<h2>Formunuz başarıyla gönderildi !</h2>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="@Url.Action("Forms", "Contact", new { formType = "Muhasebe" })" class="btn btn-primary btn-block">Muhasebe Formları</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Forms", "Contact", new { formType = "Teknik Destek" })" class="btn btn-primary btn-block">Teknik Destek Formları</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Forms", "Contact", new { formType = "Insan Kaynakları" })" class="btn btn-primary btn-block">İnsan Kaynakları Formları</a>
        </li>
    </ul>
</div>
